body {
  font-family: sans-serif, Arial, Helvetica;
  color: #9CA3A3;
}

form {
  width: 600px;
  margin: auto;
  margin-top: 70px;
  padding: 15px 15px;
  background-color: #7CE9EC;
  padding-bottom: 55px;
  border-radius: 25px;
}

h1 {
  margin: 15px;
  font-size: 26px;
  text-align: center;
}

input[type="text"],
input[type="email"],
textarea {
  border: none;
  font-size: 18px;
  height: auto;
  margin: 5px;
  outline: 0;
  padding: 8px;
  width: 95%;
}

button, input[type="reset"] {
  padding: 12px 22px 12px 22px;
  color: #7CE9EC;
  background-color: #9CA3A3;
  font-size: 24px;
  text-align: center;
  font-style: normal;
  border-radius: 20px;
  margin-left: 10%;
  margin-right: 5%;
  margin-top: 5%;
  width: 30%;
  border: 1px solid #fff;
  border-width: 1px 1px 3px;
  border-style: none;
}
