body {
  font-family: sans-serif, Arial, Helvetica;
  color: #9CA3A3;
}

form {
  width: 500px;
  margin: auto;
  margin-top: 70px;
  padding: 15px 15px;
  background-color: #7CE9EC;
  padding-bottom: 55px;
  border-radius: 25px;
}
